* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F4EB34;
    color: black;
    text-align: center;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#rules_button {
    padding: 5px;
    margin: 10px;
}

#logo {
    width: 100%;
    font-family: "Comic Sans MS", sans-serif;
    color: #fff;
    font-size: 3rem;
    text-shadow: 2px 2px #ddd;
}

.box {
    display: flex;
    align-items: center;
}

#timer_box, #letter_box {
    background-color: #fff;
    font-size: 2.5rem;
    height: 60px;
    width: 70px;
    margin: 8px;
    padding: 10px;
    border-radius: 10%;
    box-shadow: yellow 0 0 10px 5px;
}

#letter_header, #timer_header {
    font-size: 1rem;
}

#drink_text {
    margin-top: 15px;
    font-size: 2rem;
    font-weight: 700;
    color: white;
    text-shadow: 2px 2px #ddd;
}

#word_box {
    font-size: 2.5rem;
    background-color: #fff;
    text-align: center;
    width: 360px;
    height: 100px;
    margin: 10px;
    box-shadow: yellow 0 0 10px 5px;
    line-height: 100px;
}

#input_area {
    background-color: #fff;
    width: 360px;
    height: 75px;
    margin: 10px;
    border: 0;
    outline: none;
    resize: none;
    box-shadow: yellow 0 0 10px 5px;
    font: 2.25rem "Comic Sans MS";
    text-align: center;
    line-height: 75px;
}

::placeholder {
  color: #ddd;
}

#drink_banner {
    background-color: #F4EB34;
    margin-top: 65px;
    font: bold 7rem "Comic Sans MS";
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: none;
}

@media screen and (max-width: 500px) {
    #word_box, #input_area {
        width: 72%;
    }
}