body {
  background-color: #F4EB34;
  color: black;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
	font: bold 50px "Comic Sans MS";
}

.box {
  display: flex;
  align-items: center;
}

.timer_box, .letter_box {
  background-color: #fff;
  font-size: 3rem;
  height: 60px;
  width: 70px;
  margin: 8px;
  padding: 10px;
  border-radius: 10%;
  box-shadow: yellow 0px 0px 10px 5px;
}

.letter_header, .timer_header {
  font-size: 1rem;
  font-weight: bold;
}

.drink_banner {
  background-color: #F4EB34;
  font-size: 7rem;
  position: fixed; 
  width: 100%; 
  height: 100%; 
  z-index: 2; 
  display: none; 
}

.word_box {
  font-size: 3rem;
  background-color: #fff;
  font-family: roboto;
  text-align: center;
  margin: 10px;
  padding: 30px;
  box-shadow: yellow 0px 0px 10px 5px;
}

.input_area {
  height: 75px;
  font-size: 2.5rem;
  background-color: #fff;
  font-family: roboto;
  text-align: center;
  margin: 10px;
  padding: 20px;
  border: 0px;
  resize: none;
  box-shadow: yellow 0px 0px 10px 5px;
}
